
th{
    text-align: left;
}

th:hover{
  cursor: pointer;
}

td, th {
  padding: 10px;
  font-size: smaller;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:nth-child(odd) {
  background-color: white;
}

.stockListContainer{
  margin-top: 5rem;
}
