
.industryListElement-container {
    list-style: none;
    border-bottom: 1px black solid;
}
.industryListElement-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    font-size: smaller;
    
  }
.industryListElement-name {
width: 35%;
}
.industryListElement-performance {
width: 21.7%;
padding-left: 1rem;
}
.industryListElement-name a{
  text-decoration: none;
  color: inherit; 
}

.industryListElement-name a:hover{
  color: gray;
}

@media (max-width: 1000px) {
  .industryListElement-highchart{
    display: none;
  }
}

