.basicChartContainer {
    position: relative;
  }
  .timeframeFilter {
    position: absolute;
    top: 0%;
    right: 10px;
    display: flex;
    font-size: 0.5rem;
    gap: 0.5rem;
  }
  .timeframeFilter p:hover {
    cursor: pointer;
  }
  
  .priceInformation {
    display: flex;
    gap: 1em;
    align-items: center;
    position: absolute;
    padding: 1rem;
    top: 90%;
    font-size: x-small;
  }
  
  @media (max-width: 1000px) {
    .timeframeFilter {
      display: none;
    }
  }
  